<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div class="page-top">
        <div class="page-content">
            <h2>任务计划列表</h2>
        </div>
    </div>
    <div class="main">
        <h3 class="big-title">添加任务：</h3>
        <!-- v-model的值等于value （根据控件的不同会不同）-->
        <input placeholder="	例如吃饭睡觉打豆豆；		提示：+回车即可添加任务" v-on:keyup.enter='addTodo()' v-model='model' class='task-input' type="text"/>
        <ul class="task-count" >
            <li >{{noCheckeLength}}个任务未完成</li>
            <li class="action">
                <a class="active" href="#">所有任务</a>
                <a href="#">未完成的任务</a>
                <a href="#">完成的任务</a>
            </li>
        </ul>
        <h3 class="big-title">任务列表：</h3>
        <div class="tasks">

            <span class="no-task-tip" v-show="!list.length">还没有添加任何任务</span>
            <ul class="todo-list" v-show="list.length">
                <li class="todo " :class='{completed:item.isChecked,editing:item===edtorTodos}' v-for="item in list">
                    <div class="view">
                        <input  class="toggle" type="checkbox"  v-model="item.isChecked" @click='check(item)'/>
                        <label @dblclick='edtorTodo(item)'>{{item.title}}</label>
                        <button class="destroy" @click='deletetodo(item)'></button>
                    </div>  
                    <input class="edit" 
                    v-model='item.title'
                    v-focus='edtorTodos===item'  
                    type="text" 
                    @blur='blurfocus()'
                    @keyup.enter='blurfocus()'
                    @keyup.27='cancel(item)' 
                    /> 
                </li>
               
            </ul>
        </div>
    </div>
</body>
<script src="app.js"></script>
</html>